@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&family=Rajdhani:wght@600;700&family=Roboto:wght@300;400;500;700&display=swap');

/* font-family: 'Homemade Apple', sans-serif; */
/* font-family: 'Rajdhani', sans-serif; */
/* font-family: 'Roboto', sans-serif; */


:root {
    --red: rgb(214,35,36);
      
}

body {
    margin: 0;
}

/* Container */
.container {
    width: auto;
    max-width: 1300px;
    padding: 0 15px;
    margin: 0 auto;
}

/* Header */
.header {
    width: 100%;
    padding-top: 30px;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}


.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
}

.header__logo_img {
    height: 80px;
}

/* Nav */
.nav {
    display: flex;
    flex-wrap: wrap;
    align-items:center;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    
}

.nav__link {
    display: inline-block;
    vertical-align: top;
    margin: 0 15px;
    padding-top: 5px;
    position: relative;
    flex-wrap: nowrap;

    color: #fff;
    text-decoration: none;

    transition: color .1s linear;
}

.nav__link:before {
    content: "\2022";
    color: var(--red);
    padding-right: 10px;
    opacity: 0;
}
.nav__link:after {
    content: "\2022";
    color: var(--red);
    padding-left: 10px;
    opacity: 0;
}

.nav__link:hover {
    color: var(--red);
}
.nav__link:hover:before {
    opacity: 1;
} 

.nav__link:hover:after {
    opacity: 1;
} 


.img_nav_img {
    height: 25px;
    border-radius: 50%;
    margin-left: 20px;    
}
.img_nav {display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-left: 70px;   
}
.img_nav :hover {
    opacity: 0.8;
}

.burger-icon {
    display: none;
    font-size: 3rem;
    z-index: 5;
    color: grey;
}

#burger-checkbox {
    display: none; 
}

header .nav_all {
    display: flex;  
   
}
header input:checked ~ .nav_all  {
    display: flex;
 
} 





/* intro */
.intro {
    background: url("../images/background-first.svg") center no-repeat;
    background-size: cover;
    height: 120vh;
}
.intro__title {
    color: #fff;
    font-family: 'Rajdhani', sans-serif;
    font-size: 120px;
    margin: 0;
    text-transform: uppercase;
}
.intro__suptitle {
    color: var(--red);
    font-family: 'Homemade Apple', sans-serif;
    font-weight: 400;
    margin: 0;
}
.intro__inner {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    
    top: 35%;
    position: absolute;
}
.btn {
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    background-color: var(--red);
    color: #fff;
    border: 2px;
    width: 220px;
    padding: 18px 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
    transition: background .1s linear, color .1s linear;
}



.btn:hover {
    background-color: #fff;
    color: #333;
}



/* section */
.section {
    padding: 50px 0;
}
.card_display {
    display: flex;
    justify-content: space-around;
    width: 90%;
}

.card {
    width: 100%!important;
    margin:50px  20px;

    color: #fff;
}
.card_1 {
    background: url("../images/adults.svg")  no-repeat  ;
    background-size: cover;
    background-position: 50% 0;
    border-radius: 10px;
}
.card_2 {
    background: url("../images/children.svg")  no-repeat  ;
    background-size: cover;
    background-position: 50% 0;
    border-radius: 10px;
}
.card_3 {
    background: url("../images/self-defence.svg")  no-repeat  ;
    background-size: cover;
    background-position: 50% 0;
    border-radius: 10px;
}
.card h2 {
    font-family: 'Rajdhani', sans-serif;
    font-size: 56px;
    margin: 0;
}
.card p {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}
.card a {
    margin-top: 40px;
}
.card_inside {
    padding: 40px 20px;
    
}



/* About Us */


.about_us {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 30px;
}

.about_us_images {
    width: 100%!important;
}
.about_us_img {
    padding: 0 50px;
    min-width: 280px;
}


.about_us_text {
    display: flex;
    flex-direction: column;
    max-width: 570px;
}

.about_us_title {
    font-family: 'Homemade Apple', sans-serif;
    font-size: 26px;
    color: var(--red);
}
.about_us_name {
    font-family: 'Rajdhani', sans-serif;
    font-size: 56px;
    font-weight: 700;
    max-width: 370px;
    
}
.about_us_name:after {
    content: "";
    display: flex;
    width: 50px;
    height: 2px;
    background-color: var(--red);
    left: 0;
    z-index: 1;

}

.about_us p {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #707070;
    
}
.about_us h3 {
    font-family: 'Rajdhani', sans-serif;
    font-size: 24px;
    color: rgb(22, 18, 15);
    margin: 0;
}

.about_us_img_icon img {
    width: 70px;
    height: auto;
    
    margin: 20px 0;
}
.about_us_clarification {
    display: flex;
    
}
.about_us_clarification p {
    display: flex;
    margin: 0; 
    font-weight: 400;
}
.about_us_clarification_text {
    margin: 20px ;
}


/* Transition */

.transition {
    
    padding-top: 80px;
    padding-bottom: 95px;
    width: 100%;
    background: url("../images/transition.svg") center no-repeat; 
    background-size: cover;
}


/* Carousel */

/* pts */
.pts {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0;
    width: auto;
    
    text-align: center;
    
}
.pts img {
    width: auto;
    height: 70px;
}
.pts_first {
    background: url("../images/1.svg") right no-repeat;
    background-size: cover;
    background-color: red;
    color: white;
    padding: 90px 70px;
}
.pts_first h3 {
    font-family: 'Rajdhani', sans-serif;
    font-size: 36px;
}
.pts_first span {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

.pts_second {
    background: url("../images/2.svg") right no-repeat;
    background-size: cover;
    background-color: rgb(241, 237, 225);
    color: rgb(22, 18, 15);
    padding: 90px 70px;
}
.pts_second h3 {
    font-family: 'Rajdhani', sans-serif;
    font-size: 36px;
    color: var(--red);
}
.pts_second span {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}


.pts_third {
    background: url("../images/3.svg") right no-repeat;
    background-size: cover;
    background-color: rgb(30, 25, 23);
    color: white;
    padding: 90px 70px;
}
.pts_third h3 {
    font-family: 'Rajdhani', sans-serif;
    font-size: 36px;
}
.pts_third span {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}



/*  */
/* FAQ */
.faq {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100%;
    min-height: 895px;
}
.faq_right {
    padding: 15% 10px;
}

.faq_img {
    background: url("../images/faq-img.svg")  no-repeat  ;
    background-size: cover;
    background-position: 25% 0;
}


.faq_text {
    display: flex;
    flex-direction: column;
    max-width: 570px;
    text-align: left;
    margin: auto;
}

.faq_title {
    font-family: 'Homemade Apple', sans-serif;
    font-size: 26px;
    color: var(--red);
    text-transform: uppercase;
}
.faq_name {
    font-family: 'Rajdhani', sans-serif;
    font-size: 56px;
    font-weight: 700;
    
}
.faq_name:after {
    content: "";
    display: flex;
    width: 50px;
    height: 2px;
    background-color: var(--red);
    left: 0;
    z-index: 1;

}

.faq_p {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 500;
    
    
}

/* Accordion */

.accordion__item {
    margin-bottom: 10px;
    border-bottom: 1px solid #e5e5e5;
}

.accordion__item.active .accordion__content {
    display: block;
    transition: all 1s linear;
}

.accordion__item.active .accordion__header {
    border-bottom-color: #e5e5e5;
}

.accordion__item.active .accordion__header:after {
    transform: translateY(-50%) rotate(-45deg);
    margin-top: 5px;
}

.accordion__header {
    padding: 15px 0;
    position: relative;
    cursor: pointer;
}

.accordion__header:after {
    content: "";
    
    width: 16px;
    height: 16px;

    border-top: 2px solid #ccc;
    border-right: 2px solid #ccc;

    position: absolute;
    top: 50%;
    right: 20px;
    z-index: 1;

    transform: translateY(-50%) rotate(135deg);
    
}


.accordion__content {
    display: none;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.8px;
    font-size: 16px;
    color: #707070;
    font-weight: 400;
}

.accordion__title {
    font-family: 'Rajdhani', sans-serif;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    
}


/* go_boxing */

.go_boxing {
    padding: 150px 0;
    width: 100%;
    background: url("../images/go_boxing.svg") center no-repeat; 
    background-size: cover;
    color: white;
    
}
.go_boxing_inner {
    text-align: center;

}
.go_boxing_suptitle {
    font-family: 'Homemade Apple', sans-serif;
    font-size: 26px;
    font-weight: 400;
    margin: 0;
}
.go_boxing_title {
    font-family: 'Rajdhani', sans-serif;
    font-size: 100px;
    font-weight: 700;
    margin: auto;
    max-width: 950px;
}
.btn_go_boxing {
    background-color: black;
    max-width: 160px;
}

/* schedule */
.schedule {
    padding: 100px 0;
    background-color: #f1ede1;
}
.schedule_header {
    display: flex;
    flex-direction: column;
    text-align: center;
    min-width: 350px;
    
}
.schedule_title {
    font-family: 'Homemade Apple', sans-serif;
    font-size: 26px;
    color: var(--red);
}
.schedule_name {
    font-family: 'Rajdhani', sans-serif;
    font-size: 56px;
    font-weight: 700;
    text-transform: uppercase;
    
    
}
.schedule_name:after {
    content: "";
    display: flex;
    text-align: center;
    width: 50px;
    height: 2px;
    background-color: var(--red);
    margin: auto;
    z-index: 1;
}

/* schedule_table */
.schedule_table {
    margin: 50px auto auto auto;
    text-align: left;
    max-width: 1170px;
}

.table_time {
    border: 2px;
    border-collapse:collapse;
    width: 100%!important;
    
}
.table_time p {
    margin: 0;
    padding-bottom: 5px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #707070;
}
.table_time th, td {
    border: 1px solid grey;
    padding: 15px 20px;
}
.table_time th {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 700;  
}
.tr_name th {
    background-color: var(--red);
    color: white;
    font-size: 24px;
    font-family: 'Rajdhani', sans-serif;
    font-weight: 700;
}

/* team_block */
.team_block {
    padding: 80px 0;
}
.team {
    display: flex;
}
.team_card {
    position: relative;
    overflow: hidden;
    width: initial;
    margin: 15px 15px;
    border-width: 20px;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.95);   
}
.team_card_img {
    display: block;
    width: 100%;
    object-fit: cover;
    left: -30%;
    overflow: hidden;
    z-index: 1;
    transition: all 0.8s ;   
}

.team_card_text {
    top:30%;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    text-align: center;
    align-items: center;
    z-index: 1;
    display:none;
    color: #fff;    
}

.team_card_text h2 {
    font-size: 36px;
    font-family: 'Rajdhani', sans-serif;
}

.team_card:hover .team_card_text{
    display: block;
    position:absolute;     
}
.team_card:hover .team_card_img{
    opacity: 0.1;   
}


/* About Boxing */
.about_boxing {
    padding: 150px 0 100px 0;
    background: url("../images/background_about_boxing.svg") center no-repeat; 
    background-size: cover;
    background-position: 0% 45%;
    
    color: white;
}
.about_boxing_text {
    display: flex;
    flex-direction: column;
    max-width: 570px;
    text-align: left;  
}

.about_boxing_title {
    font-family: 'Homemade Apple', sans-serif;
    font-size: 26px;
    color: var(--red);
    
}
.about_boxing_name {
    font-family: 'Rajdhani', sans-serif;
    font-size: 56px;
    font-weight: 700;
    text-transform: uppercase;
    color: white;
    
}
.about_boxing_name:after {
    content: "";
    display: flex;
    width: 50px;
    height: 3px;
    background-color: var(--red);
    z-index: 1;
}

.about_boxing_p {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400; 
    color: #ebe9e9;  
}


.about_boxing_figure {
    margin: 20px 0;
    color: var(--red);
    font-family: 'Roboto', sans-serif;
    font-size: 65px;
    font-weight: 700; 
}

.about_boxing_clarification {
    display: flex; 
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;  
}

.about_boxing_clarification_text {
    padding: 20px 0 0 20px;
}
.about_boxing_clarification_text h3 {
    font-family: 'Rajdhani', sans-serif;
    font-size: 24px;
    margin: 0 0 15px 0;
}



/* events */
.events {
    padding: 100px 0;
    background-color: #f1ede1;
    
}

.events_block {
    margin: 30px 0 15px 0;
    display: flex;
    width: 100%;
    height: 155px;
    text-align: center;
    justify-content: space-around;
    background-color: white;
    padding-top: 15px;
    
}
.events_icon {
    margin-top: 20px;
    padding-top: 15px;
}
.events_p {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500; 
}

.events_date span {
    color: var(--red);
    font-family: 'Rajdhani', sans-serif;
    font-size: 100px;
    font-weight: 700; 
}
.events_date p {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 700;
    margin: 0; 
}

.events_info {
    padding-top: 20px;
}
.events_info h3 {
    font-family: 'Rajdhani', sans-serif;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 5px;
}
.events_info span {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1.4px;
}
.events_span_red {
    color: var(--red);
}


.events_time span {
    display: flex;
    padding-top: 10px;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    letter-spacing: 1.4px;
}
.events_span_grey {
    padding-bottom: 10px;
    color: #707070;
    font-weight: 700;   
}
.btn_events {
    max-width: 150px;
    margin-top: 30px;
}
.btn_events:hover {
    background-color: black;
    color: white;
}



/* Procing */
.pricing {
    padding: 50px 0;
    background-color: #f1ede1;
}
.pricing_all {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: left;      
}
.pricing_article {
    background-color: white;
    box-shadow: 0px 0px 10px 1px #373434;
    margin: 50px 10px 0 10px;
    padding-left: 20px;
    padding-right: 20px;
    width: 25%!important;  
}
.pricing_article ul {
    padding-left: 20px;
    margin: 0;
}
.pricing_article ul li {
    padding-left: 20px;
    padding-bottom: 15px;
}
.pricing_article li {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    color: #707070;
    font-weight: 400;
    
}
.pricing_article li::marker { 
    content: '✔';
    color: var(--red);
    font-weight: 900;  
}

.marker_grey li::marker {
    content: '✖';
    color: rgba(112, 112, 112, 0.33);
    font-weight: 900;
}
.pricing_article h3 {
    font-family: 'Rajdhani', sans-serif;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    padding-top: 20px;
    
}
.pricing_block {
    display: flex;
    flex-direction: column;
    text-align: center;
    vertical-align: baseline;
    flex-wrap: wrap;  
}
.pricing_block1 {
    font-family: 'Rajdhani', sans-serif;
    font-size: 56px;
    font-weight: 700;
    color: var(--red);   
}
.pricing_block1:after {
    content: "";
    display: flex;
    text-align: center;
    width: 50px;
    height: 2px;
    background-color: var(--red);
    margin: auto;
    z-index: 1;
}
.pricing_block2 {
    font-size: 14px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    padding: 10px 0;
    letter-spacing: 1.4px;
}
.pricing_button {
    text-align: center;
    padding: 30px 0;
    
}
.pricing_button .btn {
    width: 70%;
}
.pricing_button :hover {
    background-color: black;
    color: white;
}


/* free_trial */

.free_trial {
    padding: 150px 0;
    width: 100%;
    background: url("../images/background_free_trial.svg") center no-repeat; 
    background-attachment: fixed;
    background-size: cover;
    color: white;
    
}
.free_trial_inner {
    text-align: center;
    max-width: 650px;

}
.free_trial_suptitle {
    font-family: 'Homemade Apple', sans-serif;
    font-size: 26px;
    font-weight: 400;
    margin: 0;
}
.free_trial_title {
    font-family: 'Rajdhani', sans-serif;
    font-size: 56px;
    font-weight: 700;
    margin: auto;
    max-width: 950px;
    text-transform: uppercase;
    padding: 15px 0 40px 0;
}
.btn_free_trial {
    background-color: black;
    max-width: 160px;
    
}






/* contact_us */
.contact_us {
    background-color: black;
    color: white;
    
}
.contact_us_display {
    display: flex;
    padding: 100px 0 40px 0;
    margin: auto;
}
.contact_us_p {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 700;  
    padding-bottom: 20px; 
}
.contact_us_clarification {
    display: flex;
}
.contact_us_clarification p {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;  
    padding: 0 15px;
}
.contact_us_clarification a {
    
    color: white;
}
.contact_us_clarification a:hover {
    text-decoration: none;
}
.contact_us_clarification h3 {
    font-family: 'Rajdhani', sans-serif;
    font-size: 24px;
    padding-right: 30px;
}
.contact_us_right {
    background-color: rgb(30, 25, 23);
    margin:0 20px;
    width: 50%;
}
.contact_us_left {
    margin:0 20px;
    width: 50%;
}
.maps {
    padding-top: 30px;
    
}




/* Footer */
.footer {
    background-color:black;
    width: 100%;
    padding-top: 30px;
}

.footer__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
}

.footer__logo_img {
    height: 80px;
}
.footer__logo_img:hover {
    cursor: pointer;
}

.nav__link_footer {
    display: inline-block;
    vertical-align: top;
    margin: 0 15px;
    position: relative;

    color: #fff;
    text-decoration: none;
    transition: color .1s linear;
}


.nav__link_footer:hover {
    color: var(--red);
}