@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&family=Rajdhani:wght@600;700&family=Roboto:wght@500;700&display=swap');

/* font-family: 'Homemade Apple', sans-serif; */
/* font-family: 'Rajdhani', sans-serif; */
/* font-family: 'Roboto', sans-serif; */

:root {
    --red: rgb(214,35,36);
}


body {
    margin: 0;
}

/* Container */
.container {
    width: auto;
    max-width: 1300px;
    padding: 0 15px;
    margin: 0 auto;
}

/* Header */
.header {
    width: 100%;
    padding-top: 30px;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}


.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
}

.header__logo_img {
    height: 80px;
}



/* Nav */
.nav {
    font-family: 'Roboto', sans-serif;
    
}

.nav__link {
    display: inline-block;
    vertical-align: top;
    margin: 0 15px;
    position: relative;

    color: #fff;
    text-decoration: none;

    transition: color .1s linear;
}

.nav__link:after {
    content: "";
    display: flex;
    width: 100%;
    height: 1.5px;

    background-color: var(--red);
    opacity: 0;

    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;

}

.nav__link:hover {
    color: var(--red);
}
.nav__link:hover:after {
    opacity: 1;
}

.img_nav {
    height: 25px;
}



/* Nav toggle */
.nav-toggle {
    width: 30px;
    padding: 10px 0;
    display: none;

    font-size: 0;
    color: transparent;

    border: 0;
    background: none;
    cursor: pointer;

    position: absolute;
    top: 24px;
    right: 24px;
    z-index: 1;
}

.nav-toggle__item {
    display: block;
    width: 100%;
    height: 3px;

    background-color: #fff;

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;

    transition: background .2s linear;
}

.nav-toggle.active .nav-toggle__item {
    background: none;
}

.nav-toggle__item:before,
.nav-toggle__item:after {
    content: "";
    width: 100%;
    height: 3px;

    background-color: #fff;

    position: absolute;
    left: 0;
    z-index: 1;

    transition: transform .2s linear;
}

.nav-toggle__item:before {
    top: -8px;
}

.nav-toggle__item:after {
    bottom: -8px;
}

.nav-toggle.active .nav-toggle__item:before {
    transform-origin: left top;
    transform: rotate(45deg) translate3d(0px, -2px, 0)
}

.nav-toggle.active .nav-toggle__item:after {
    transform-origin: left bottom;
    transform: rotate(-45deg) translate3d(0px, 3px, 0);
}


/* intro */
.intro {
    background: url("../images/background-first.svg") center no-repeat;
    background-size: cover;
    height: 120vh;
}
.intro__title {
    color: #fff;
    font-family: 'Rajdhani', sans-serif;
    font-size: 120px;
    margin: 0;
    text-transform: uppercase;
}
.intro__suptitle {
    color: var(--red);
    font-family: 'Homemade Apple', sans-serif;
    font-weight: 400;
    margin: 0;
}
.intro__inner {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: left;
    top: 35%;
    position: absolute;
}
.btn {
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    background-color: var(--red);
    color: #fff;
    border: 2px;
    width: 220px;
    padding: 18px 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
    transition: background .1s linear, color .1s linear;
}



.btn:hover {
    background-color: #fff;
    color: #333;
}



/* section */
.section {
    padding: 50px 0;
}
.card_display {
    display: flex;
    justify-content: space-around;
}

.card {
    width: 100%!important;
    margin:50px  20px;

    color: #fff;
}
.card_1 {
    background: url(../images/adults.svg)  no-repeat  ;
    background-size: cover;
    background-position: 50% 0;
}
.card_2 {
    background: url(../images/children.svg)  no-repeat  ;
    background-size: cover;
    background-position: 50% 0;
}
.card_3 {
    background: url(../images/self-defence.svg)  no-repeat  ;
    background-size: cover;
    background-position: 50% 0;
}
.card h2 {
    font-family: 'Rajdhani', sans-serif;
    font-size: 56px;
    margin: 0;
}
.card p {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}
.card a {
    margin-top: 40px;
}
.card_inside {
    padding: 40px 20px;
}

/* About Us */


.about_us {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 30px;
}

.about_us_images {
    width: 100%!important;
}
.about_us_img {
    padding: 0 50px;
    min-width: 330px;
}


.about_us_text {
    display: flex;
    flex-direction: column;
}

.about_us_title {
    font-family: 'Homemade Apple', sans-serif;
    font-size: 26px;
    color: var(--red);
}
.about_us_name {
    font-family: 'Rajdhani', sans-serif;
    font-size: 56px;
    font-weight: 700;
    width: 370px;
    
}
.about_us_name:after {
    content: "";
    display: flex;
    width: 50px;
    height: 2px;
    background-color: var(--red);
    left: 0;
    z-index: 1;

}

.about_us_p {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #707070;
    max-width: 500px;
}
/* Transition */

.transition {
    
    padding-top: 80px;
    padding-bottom: 95px;
    width: 100%;
    background: url("../images/transition.svg") center no-repeat; 
    background-size: cover;
}

